<div class="card bg-base-100 shadow-2xl w-full max-w-md">
    <div class="card-body p-8">

        <div class="text-center mb-6">
            <h1 class="text-4xl font-bold text-primary">
                Eventmaster
            </h1>

            <p class="text-base-content/70 mt-2">
                Log in to your account
            </p>
        </div>

        <form class="space-y-4" (ngSubmit)="onSubmit()">

            <label class="form-control">
                <span class="label-text mb-2">Email</span>

                <input type="email" name="email" [(ngModel)]="email" placeholder="you@example.com"
                    class="input input-bordered w-full" />
            </label>

            <label class="form-control">
                <span class="label-text mb-2">Password</span>

                <input type="password" name="password" [(ngModel)]="password" placeholder="••••••••"
                    class="input input-bordered w-full" />
            </label>

            <div class="text-right">
                <a class="link link-hover text-sm">
                    Forgot password?
                </a>
            </div>

            <button type="submit" class="btn btn-primary w-full">
                Log in
            </button>

        </form>

        <div class="divider">
            New here?
        </div>

        <a routerLink="/register" class="btn btn-outline w-full">
            Create account
        </a>

    </div>
</div>